<div class="actions">
  <button 
    (click)="goToParentState()"
    pButton
    type="button"
    label="Go to ParentComponent"
    class="button"
  ></button>

  <div class="align-buttons">
    <button 
      class="button"
      (click)="getUserData()"
      pButton
      type="button"
      label="Get user data"
    ></button>
    <button
        (click)="isShownData = !isShownData"
        pButton
        type="button"
        class="hide-button"
        [label]="isShown ? 'Hide user data' : 'Show user data'"
      ></button>
  </div>

  <div *ngIf="isShownData" class="user-data">
    <div *ngFor="let user of data" class="elements">
      <span class="user-name">User name: {{ user.name }}</span>
      <span>User email: {{ user.email }}</span>
      <span>User gender: {{ user.gender }}</span>
      <span>User id: {{ user.id }}</span>
      <span>User status: {{ user.status }}</span>
    </div>
  </div>

  <div class="align-buttons">
    <button
      class="button"
      (click)="getUserComments()"
      pButton
      type="button"
      label="Get user comments"
    ></button>
    
    <button
      (click)="isShown = !isShown"
      pButton
      type="button"
      class="hide-button"
      [label]="isShown ? 'Hide comments data' : 'Show comments data'"
    ></button>
  </div>

  <div *ngIf="isShown" class="user-data">
    <div *ngFor="let comment of comments" class="elements">
      <span class="user-name">User name: {{ comment.name }}</span>
      <span>User body: {{ comment.body }}</span>
      <span>User email: {{ comment.email }}</span>
      <span>User id: {{ comment.id }}</span>
      <span>User post_id: {{ comment.post_id }}</span>
    </div> 
  </div>
</div>