.user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  input {
    margin: 10px;
  }
}
.button {
  width: 210px;
  height: 40px;
  margin: 10px;
}
.elements {
  border: 1px solid darkslategray;
  margin: 5px;
  display: flex;
  flex-direction: column;
  width: 210px;
  height: 100px;

  span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.user-name {
  font-weight: bold;
  background-color: silver;
}
.user-data {
  display: flex;
  flex-wrap: wrap;
}
.hide-button {
  width: fit-content;
  height: 40px;
  margin: 10px;
}
.align-buttons {
  display: flex;
}